:root{
    --bg: #1f1f1f;
    --panel: #2f2f2f;
    --text: #e9e7e6;
    --text-soft: #aaa3a1;
    --accent: #ffc609;
}

@font-face {
    font-family: 'Traveling Typwriter';
    src: url('../fonts/TravelingTypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'Hollywood Capital';
    src: url('../fonts/Hollywood\ Capital.ttf') format('truetype');
}

@font-face {
    font-family: Zen;
    src: url('../fonts/ZenKurenaido-Regular.ttf') format('truetype');
}


body{
    background-color: var(--bg);
    color: var(--text-soft);
    font-family: 'Zen';
    font-size: 1.4em;
    background-image: url('../img/bg_full.jpg');
    background-size: 120%;
    background-repeat: repeat-y;
    background-position: center;
}

h1,h2,h3,h4,p{
    margin: 0;
}


h1{
    font-family: 'Traveling Typwriter';
    font-size: 3.5em;
    font-weight: normal;
    color: var(--text);
    margin-bottom: 0.2em;
}

h1 small{
    font-size: 0.5em;
    font-weight: normal;
    color: var(--text-soft);
    margin-bottom: 0.5em;
    display: inline-block;
}

h1 .cuss{
    /* background-color: var(--panel); */
    font-family: 'Hollywood Capital';
    color: var(--accent);
    border: 0 solid var(--accent);
    border-width: 0.1em 0;
    font-size: 1.25em;
    padding: 0em 0.15em;
    display: inline-block;
    /* text-shadow: 5px 5px var(--text); */
    transform: rotate(-2deg) scale(1.1);
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}

header{
    height: 80vh;
    display: grid;
    font-family: 'Traveling Typwriter';
    min-height: 600px;
}

header br{
    margin: 0;
}

header>div{
    max-width: 900px;
    display: grid;
    gap: 1em;
    margin: auto;
}

header p{
    max-width: 650px;
    font-size: 1.1em;
}

/* Reel design */
.reel{
    display: grid;
    max-width: 1000px;
    border-radius: 1em;
    overflow: hidden;
    margin: 5em auto;
    box-shadow: 2em 2em 3em rgba(0,0,0,0.4);
}

.reel .line{
    display: grid;
    grid-template-columns: 6em auto 6em; 

}

.reel .side{
    background-color: rgb(56, 56, 56);
    display: grid;
}

.reel .side .punch-hole{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-radius: 1em;
    margin: 0.8em;
    background-color: rgb(72, 71, 71);
}

.reel .data{
    display: flex;
    background-color: rgb(30,30,30);
    overflow: hidden;
    position: relative;
}

.reel .data::before{
    content: '';
    position: absolute;
    display: block;
    background-color: rgb(40, 40, 40);
    height: 100%;
    left: 1em;
    right: 1em; 
    z-index: -1;
}

.reel .line-top .data::before{
    top: 1em;
    border-radius: 1em 1em 0 0;
}

.reel .line-bottom .data::before{
    bottom: 1em;
    border-radius: 0 0 1em 1em;
}


.reel .data .data-field{
    height: 100%;
    width: 100%;
    display: flex;
}

.reel .data .data-dot{
    border-radius: 50%;
    width: 0.5em;
    height: 0.5em;
    display: block;
    margin: auto;
    background-color: var(--accent);
}

.reel .data .data-dot.large{
    transform: scale(2.5);
}

.graphs{
    max-width: 700px;
    margin: auto;
    display: grid;
}

.graphs img{
    filter: invert(1);
    width: 100%;
}

.section{
    font-size: 0.8em;
    text-align: center;
}