:root{
    --bg: #1f1f1f;
    --panel: #2f2f2f;
    --text: #e9e7e6;
    --text-soft: #aaa3a1;
    --accent: #ffc609;
}

@font-face {
    font-family: 'Traveling Typwriter';
    src: url('../fonts/TravelingTypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'Hollywood Capital';
    src: url('../fonts/Hollywood\ Capital.ttf') format('truetype');
}

@font-face {
    font-family: Zen;
    src: url('../fonts/ZenKurenaido-Regular.ttf') format('truetype');
}


body{
    background-color: var(--bg);
    color: var(--text-soft);
    font-family: 'Zen';
    font-size: 1.4em;
    background-image: url('../img/bg_full.jpg');
    background-size: 120%;
    background-repeat: repeat-y;
    background-position: center;
}

h1,h2,h3,h4,p{
    margin: 0;
}


h1{
    font-family: 'Traveling Typwriter';
    font-size: 3.5em;
    font-weight: normal;
    color: var(--text);
    margin-bottom: 0.2em;
}

h1 small{
    font-size: 0.5em;
    font-weight: normal;
    color: var(--text-soft);
    margin-bottom: 0.5em;
    display: inline-block;
}

h1 .cuss{
    /* background-color: var(--panel); */
    font-family: 'Hollywood Capital';
    color: var(--accent);
    border: 0 solid var(--accent);
    border-width: 0.1em 0;
    font-size: 1.25em;
    padding: 0em 0.15em;
    display: inline-block;
    /* text-shadow: 5px 5px var(--text); */
    transform: rotate(-2deg) scale(1.1);
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}

header{
    height: 80vh;
    display: grid;
    font-family: 'Traveling Typwriter';
    min-height: 600px;
}

header br{
    margin: 0;
}

header>div{
    max-width: 900px;
    display: grid;
    gap: 1em;
    margin: auto;
}

header p{
    max-width: 650px;
    font-size: 1.1em;
}

/* Reel design */
.reel-box{
    display: grid;
    max-width: 1100px;
    border-radius: 1em;
    margin: 5em auto;
    box-shadow: 2em 2em 3em rgba(0,0,0,0.4);
}

.reel{
    display: grid;
    border-radius: 1em;
    box-shadow: 2em 2em 3em rgba(0,0,0,0.4);
    overflow: hidden;
}

.reel .line{
    display: grid;
    grid-template-columns: 120px auto 120px; 

}

.reel .side{
    background-color: rgb(56, 56, 56);
    display: grid;
}

.reel .side .punch-hole{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-radius: 1em;
    margin: 0.8em;
    background-color: rgb(72, 71, 71);
}

.reel .side .punch-hole img {
    max-width: 100%; /* Adjust the width as needed */
    max-height: 70%; /* Adjust the height as needed */
    margin: auto 0 auto 0;
    filter: invert(100%) sepia(100%) saturate(17%) hue-rotate(214deg) brightness(105%) contrast(100%);
    /*https://change-svg-color.vercel.app*/

}

.reel .data{
    display: flex;
    background-color: rgb(30,30,30);
    position: relative;
    padding: 0 0.25em;
    gap: 0.25em;
}

.reel .data::before{
    content: '';
    position: absolute;
    display: block;
    background-color: rgb(40, 40, 40);
    height: 100%;
    left: 0.5em;
    right: 0.5em;
    z-index: 0;
}

.reel .line-top .data::before{
    top: 0.25em;
    border-radius: 1em 1em 0 0;
}

.reel .line-bottom .data::before{
    bottom: 0.25em;
    border-radius: 0 0 1em 1em;
}


.reel .data .data-field{
    height: 100%;
    width: 100%;
    display: flex;
}

.reel .data .data-dot{
    border-radius: 50%;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    background-color: var(--accent);
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.reel .data .data-dot.hidden{
    /* initially hidden */
    transform: scale(0); 
}

.reel .data .data-dot.appear{
    animation: dot-appear 0.2s ease-out;
}

@keyframes dot-apprear {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.reel .data .data-dot:hover{
    transform: scale(1.2);
    /* add outline */
    outline-width: 0.3em;
    outline-style: solid;
    outline-offset: 0.2em;
    transition: 0.2s;
}

.reel .data .data-dot.large{
    transform: scale(2.5);
}

.graphs{
    max-width: 700px;
    margin: auto;
    display: grid;
    /* Set the graph width and height */
    --graphWidth: 700px;
    --graphHeight: 100px;

    /* Set the padding for the graph */
    --padding: 20px;

    /* Set the dot radius */
    --dotRadius: 5px;

    /* Set the dot color */
    --dotColor: var(--accent);
}

.graphs img{
    filter: invert(1);
    width: 100%;
}

.section{
    font-size: 0.8em;
    text-align: center;
}


/* Popup for reel swear words info */
#popup-reel-holder{
    position: absolute;
    top: 0;
    left: 0;
}

.popup-reel{
    position: absolute;
    max-width: 640px;
    background-color: rgb(50,50,50);
    padding: 0.4em 0.5em;
    /* filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4)); */
    border-radius: 0.25em;
    font-family: 'hollywood capital';
    font-size: 1.3em;
    z-index: 3;
    animation: modalGlide 0.3s ease-out;
}

@keyframes modalGlide {
    from {
        transform: translateX(40px) rotate(5deg);
        opacity: 0;
    }
    to {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

.popup-reel::before{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    left: -30px;
    width: 40px;
    height: 10px;
    background-color: rgb(50,50,50);
    z-index: -1;
    border-radius: 20px;
}

.popup-reel>div{
    display: flex;
    align-items: center;
    gap: 0.5em;
    animation: glideinword 0.2s ease-out;
    animation-fill-mode: backwards;
}

.popup-reel .time{
    margin-left: auto;
    letter-spacing: -0.05em;
    font-size: 0.5em;
    opacity: 0.5;
    font-family: Zen;
}

@keyframes glideinword {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}

.popup-reel>div>span>small{
    margin-right: 0.2em;
}

/* Bottom nav */
.reel-box nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25em;
    position: sticky;
    bottom: -150px;
    max-width: calc(1100px - 240px - 0.5em);
    width: 100%;
    margin: auto;
    z-index: 2;
}

.reel-box nav>div{
    flex: 1 1 0px;
    display: grid;
    font-family: 'hollywood capital';
    text-align: center;
    background-color: rgb(18, 18, 18);
    font-size: 0.5em;
    transition: transform 0.15s ease-out;
    border-radius: 0.5em;
    cursor: pointer;
}

.reel-box nav>div:hover{
    transform: translateY(-150px);
}

.reel-box nav h2{
    padding: 0.4em;
    align-self: center;
}

.reel-box nav img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
    opacity: 0.3;
    filter: grayscale(1);
    transition: 0.2s;
}

.reel-box nav>div:hover img{
    filter: grayscale(0);
    opacity: 1;
}

.reel-box nav.hide{
    display: none;
}