:root{
    --bg: #1f1f1f;
    --panel: #2f2f2f;
    --text: #e9e7e6;
    --text-soft: #aaa3a1;
    --accent: #ffc609;
    --warn: #f43920;
}

@font-face {
    font-family: 'Traveling Typwriter';
    src: url('../fonts/TravelingTypewriter.ttf') format('truetype');
}

@font-face {
    font-family: 'Hollywood Capital';
    src: url('../fonts/Hollywood\ Capital.ttf') format('truetype');
}

@font-face {
    font-family: Zen;
    src: url('../fonts/ZenKurenaido-Regular.ttf') format('truetype');
}


body{
    background-color: var(--bg);
    color: var(--text-soft);
    font-family: 'Zen';
    font-size: 1.4em;
    background-image: url('../img/bg_full.jpg');
    background-size: 120%;
    background-repeat: repeat-y;
    background-position: center;
}

h1,h2,h3,h4,p{
    margin: 0;
}


h1{
    font-family: 'Traveling Typwriter';
    font-size: 3.5em;
    font-weight: normal;
    color: var(--text);
    margin-bottom: 0.2em;
}

h1 small{
    font-size: 0.5em;
    font-weight: normal;
    color: var(--text-soft);
    margin-bottom: 0.5em;
    display: inline-block;
}

h1 .cuss{
    /* background-color: var(--panel); */
    font-family: 'Hollywood Capital';
    color: var(--accent);
    border: 0 solid var(--accent);
    border-width: 0.1em 0;
    font-size: 1.25em;
    padding: 0em 0.15em;
    display: inline-block;
    /* text-shadow: 5px 5px var(--text); */
    transform: rotate(-2deg) scale(1.1);
    clip-path: polygon(2% 0, 100% 0, 98% 100%, 0 100%);
}

header{
    display: grid;
    font-family: 'Traveling Typwriter';
    min-height: 600px;
    display: grid;
    gap: 3em;
    margin: 3em auto;
}

header br{
    margin: 0;
}

header>div{
    max-width: 900px;
    display: grid;
    gap: 1em;
    margin: auto;
}

header p{
    max-width: 650px;
    font-size: 1.1em;
}

header .mouse{
    width: 30px;
    filter: invert(100%);
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
}

header .mouse .scroll{
    animation: scroll 2s infinite;
    margin: auto;
}

@keyframes scroll{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-0.5em);
    }
    100%{
        transform: translateY(0);
    }
}


/* Reel design */
.reel-box{
    display: grid;
    max-width: 1100px;
    border-radius: 1em;
    margin: auto;
    margin-bottom: 10em;
}

.reel{
    display: grid;
    border-radius: 1em;
    box-shadow: 2em 2em 3em rgba(0,0,0,0.4);
    overflow: hidden;
    margin-top: 18em;
}

.reel .line{
    display: grid;
    grid-template-columns: 120px auto 120px; 

}

.reel .side{
    background-color: rgb(56, 56, 56);
    display: grid;
}

.reel .side .punch-hole{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    border-radius: 1em;
    margin: 0.8em;
    background-color: rgb(72, 71, 71);
    gap: 0.4em;
}

.reel .side .punch-hole img {
    height: 1.5em;
    filter: invert(100%) sepia(100%) saturate(17%) hue-rotate(214deg) brightness(105%) contrast(100%);
    transition: 0.1s transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reel .side .punch-hole.interactable{
    cursor: pointer;
}

.reel .side .punch-hole:last-child:hover img{
    transform: scale(1.1);
}

.reel .data{
    display: flex;
    background-color: rgb(30,30,30);
    position: relative;
    padding: 0 0.25em;
    gap: 0.25em;
}

.reel .data::before{
    content: '';
    position: absolute;
    display: block;
    background-color: rgb(40, 40, 40);
    height: 100%;
    left: 0.5em;
    right: 0.5em;
    z-index: 0;
}

.reel .line-top .data::before{
    top: 0.25em;
    border-radius: 1em 1em 0 0;
}

.reel .line-bottom .data::before{
    bottom: 0.25em;
    border-radius: 0 0 1em 1em;
}


.reel .data .data-field{
    height: 100%;
    width: 100%;
    display: flex;
}

.reel .data .data-dot{
    border-radius: 50%;
    aspect-ratio: 1;
    display: block;
    margin: auto;
    background-color: var(--accent);
    z-index: 1;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.reel .data .data-dot.hidden{
    /* initially hidden */
    transform: scale(0); 
}

.reel .data .data-dot.appear{
    animation: dot-appear 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes dot-apprear {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

.reel .data .data-dot:hover{
    transform: scale(1.2);
    /* add outline */
    outline-width: 0.3em;
    outline-style: solid;
    outline-offset: 0.2em;
    transition: 0.2s;
}

.reel .data .data-dot.large{
    transform: scale(2.5);
}

.graphs{
    max-width: 1100px;
    margin: auto;
    display: grid;
    /* Set the graph width and height */
    --graphWidth: 1100px;
    --graphHeight: 200px;

    /* Set the padding for the graph */
    --padding: 20px;

    /* Set the dot radius */
    --dotRadius: 5px;

    /* Set the dot color */
    --dotColor: var(--accent);
}

.graphs img{
    filter: invert(1);
    width: 100%;
}

.section{
    font-size: 0.8em;
    text-align: center;
}


/* Popup for reel swear words info */
#popup-reel-holder{
    position: absolute;
    top: 0;
    left: 0;
}

.popup-reel{
    position: absolute;
    max-width: 640px;
    background-color: rgb(50,50,50);
    padding: 0.4em 0.5em;
    /* filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4)); */
    border-radius: 0.25em;
    font-family: 'hollywood capital';
    font-size: 1.3em;
    z-index: 3;
    animation: modalGlideLeft 0.3s ease-out;
}

.popup-reel::before{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    left: -30px;
    width: 40px;
    height: 10px;
    background-color: rgb(50,50,50);
    z-index: -1;
    border-radius: 20px;
}

.popup-reel>div{
    display: flex;
    align-items: center;
    gap: 0.5em;
    animation: glideinwordLeft 0.2s ease-out;
    animation-fill-mode: backwards;
}

.popup-reel .time{
    margin-left: auto;
    letter-spacing: -0.05em;
    font-size: 0.5em;
    opacity: 0.5;
    font-family: Zen;
}


@keyframes modalGlideLeft {
    from {
        transform: translateX(40px) rotate(5deg);
        opacity: 0;
    }
    to {
        transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
}

@keyframes glideinwordLeft {
    from {
        transform: translateX(50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}

.popup-reel>div>span>small{
    margin-right: 0.2em;
}

/* Popup for reel death info */
.popup-reel-death{
    position: absolute;
    max-width: 640px;
    background-color: var(--warn);
    padding: 0.4em 0.5em;
    /* filter: drop-shadow(2px 2px 2px rgba(0,0,0,0.4)); */
    border-radius: 0.25em;
    font-family: 'hollywood capital';
    font-size: 1.3em;
    z-index: 3;
    color: var(--text);
    animation: modalGlideRight 0.3s ease-out;
}

.popup-reel-death::after{
    content: '';
    position: absolute;
    display: block;
    top: 10px;
    right: -30px;
    width: 40px;
    height: 10px;
    background-color:  var(--warn);
    z-index: -1;
    border-radius: 20px;
}

.popup-reel-death .name{
    margin-left: auto;
    letter-spacing: -0.05em;
    font-size: 0.8em;
    opacity: 0.8;
    font-family: Zen;
}

.popup-reel-death>div{
    display: flex;
    align-items: center;
    gap: 0.5em;
    animation: glideinwordRight 0.2s ease-out;
    animation-fill-mode: backwards;
}

@keyframes modalGlideRight {
    from {
        transform: translateX(-40px);
        opacity: 0;
    }
    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes glideinwordRight {
    from {
        transform: translateX(-50px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}



/* Bottom nav */
.reel-box nav{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.25em;
    position: sticky;
    bottom: -150px;
    max-width: calc(1100px - 240px - 0.5em);
    width: 100%;
    margin: auto;
    z-index: 2;
    margin-top: 1em;
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.reel-box nav>div{
    flex: 1 1 0px;
    display: grid;
    font-family: 'hollywood capital';
    text-align: center;
    background-color: rgb(18, 18, 18);
    font-size: 0.5em;
    transition: transform 0.15s ease-out, background-color 0.5s ease-out;
    border-radius: 0.5em;
    cursor: pointer;
    overflow: hidden;
}

.reel-box nav:not(.ready)>div:hover{
    transform: translateY(-150px);
}

.reel-box nav h2{
    padding: 0.4em;
    align-self: center;
}

.reel-box nav .nb{
    font-size: 3.8em;
    padding: 0.2em;
    transition: font-size 0.2s ease-out;
}

.reel-box nav .nb::before{
    content: 'x';
    font-size: 0.5em;
    opacity: 0.9;
}

.reel-box nav div.small-shake .nb{
    animation: boing 0.1s ease-out;
}

.reel-box nav div:not(:hover).big-shake{
    /* Only when not hovered to avoid animation glitch */
    animation: shaaake 0.3s ease-out;
}

@keyframes boing {
    0%{
        transform: scale(0.8);
    }
    10%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes shaaake {
    0%{
        transform: translate(6px, 2px);
        background-color: rgb(80, 80, 80);
    }
    25%{
        transform: translate(-4px, -8px);
    }
    50%{
        transform: translate(3px, 1px);
    }
    75%{
        transform: translate(-3px, 1px);
    }
    100%{
        transform: translate(0, 0);
        background-color: rgb(18, 18, 18);
    }
}

.reel-box nav img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    align-self: flex-end;
    opacity: 0.3;
    filter: grayscale(1);
    transition: 0.2s;
}

.reel-box nav>div:hover img{
    filter: grayscale(0);
    opacity: 1;
}

.reel-box nav.ready img{
    transition: 0.5s, opacity 0.2s;
    filter: grayscale(0);
    opacity: 1;
}

.reel-box nav.ready{
    gap: 0.8em;
    max-width: 1000px;
}

/* Cards effect */
.reel-box nav.ready div:nth-child(1){
    transform: rotate(-6deg) translateY(30px);
}
.reel-box nav.ready div:nth-child(2){
    transform: rotate(-4deg) translateY(14px);
}
.reel-box nav.ready div:nth-child(3){
    transform: rotate(-2deg) translateY(4px);
}
.reel-box nav.ready div:nth-child(4){
    transform: rotate(0deg) translateY(0px);
}
.reel-box nav.ready div:nth-child(5){
    transform: rotate(2deg) translateY(4px);
}
.reel-box nav.ready div:nth-child(6){
    transform: rotate(4deg) translateY(14px);
}
.reel-box nav.ready div:nth-child(7){
    transform: rotate(6deg) translateY(30px);
}


.reel-box nav.ready>div:hover img{
    opacity: 0.5;
}

.reel-box nav.ready>div{
    background-color: rgb(41, 41, 41);
}

.reel-box nav.ready>div .nb{
    color: white;
    font-size: 4.5em;
}

/* Movie info */
.info-layer{
    display: grid;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(13, 13, 13, 0.6);
    backdrop-filter: blur(10px);
    transition: opacity 0.4s ease-out;
    overflow: none;
    opacity: 1;
}

.info-layer:not(.open){
    opacity: 0;
    pointer-events: none;
}

.info-box{
    width: 100%;
    background-color: black;
    clip-path: polygon(0 0, 100% 1em, 100% 100%, 0 100%);
    align-self: flex-end;
    transition: 0.4s ease-out;
}

.info-layer:not(.open) .info-box{
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 100%);
}

.info-box main{
    max-width: 900px;
    margin: auto;
    font-size: 0.9em;
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    gap: 1em;
    line-height: 1.2;
    position: relative;
}

.info-box .back{
    height: 0.4em;
    transition: 0.2s;
    filter: invert(1);
    align-self: center;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.info-box .back:hover{
    transition: 0.1s;
    opacity: 1;
    transform: scale(1.3);
}

.info-box main>div,
.info-box .synopsis>div{
    display: grid;
    gap: 0.5em;
}

.info-box .synopsis{
    display: grid;
    font-size: 1.2em;
    align-items: flex-start;
    gap: 2em;
    grid-template-columns: auto 350px;
}

.info-box .synopsis img{
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    clip-path: polygon(5px 2px, 100% 0, calc(100% - 9px) calc(100% - 5px), 0 100%);
    margin-left: auto;
}

.info-box h1{
    display: flex;
    align-items: flex-end;
    gap: 0.5em;
    font-size: 3em;
    font-family: 'hollywood capital';
    
}

.info-box h1 strong{
    color: var(--accent);
}

.info-box h1 .time{
    margin-left: auto;
    color: var(--accent);
    font-size: 0.7em;
}

.info-box ul{
    margin: 0;
    gap: 0.4em;
    display: grid;
}

.info-box ul li{
    animation: glideinwordRight 0.3s ease-out backwards;
}

.info-box h2{
    font-size: 1.8em;
    font-family: 'hollywood capital';
    margin: 0;
    color: var(--accent);
}

.info-box h3{
    font-size: 1.3em;
    margin: 0;
    color: white;
}


/* Graph info */
.axisMovie line{
    stroke: rgb(255, 255, 255);
}
  
.axisMovie path{
stroke: rgb(255, 255, 255);
}
  
.axisWhite text{
fill: rgb(255, 255, 255);
}

.d3-tip {
    line-height: 1;
    font-weight: bold;
    text-align: center;
    padding: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}

.d3-tip small {
    opacity: 0.5;
    font-size: smaller;
}

/* Footer */
footer{
    max-width: 500px; 
    text-align: center; 
    margin: 5em auto;
    font-size: 0.8em;
    display: grid;
    gap: 0.8em;
}

footer small{
    opacity: 0.5;
}